*.pyc
*.swp
.DS_Store
.coverage
.idea/
.run/main.run.xml
.scannerwork/
.vscode/
.vscode/settings.json
/node_modules/
Controllers/__pycache__/
Controllers/__pycache__/Rental.cpython-38.pyc
__pycache__/
env/
env/pyvenv.cfg
flask_session/
gha-creds-*.json
home/__pycache__/
home/__pycache__/__init__.cpython-38.pyc
home/__pycache__/view.cpython-38.pyc
htmlcov/
node_modules
rental/__pycache__/
rental/__pycache__/__init__.cpython-38.pyc
rental/__pycache__/view.cpython-38.pyc
sbadmin_theme/__pycache__/
sbadmin_theme/__pycache__/__init__.cpython-38.pyc
sbadmin_theme/__pycache__/view.cpython-38.pyc
sendgrid.env
static/.DS_Store
static/.webassets-cache/
static/bundle/
static/node_modules/*
static/package-lock.json
test/.coverage
venv/
