body {
    background-color: #15191b;
    color: white;
}

.card {
    border-color: #4e575e;
    background-color: #202529;
    color: white;
}

.cred {
    border: 1px solid #4e575e;
    border-radius: 50px;
    background-color: #202529;
    color: white;
    width: 35rem;

}

.drop {
    background-color: #202529;
    color: white;
    border: none;
    padding: 11px;
    width: 7rem;

}

.pmrgn {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0.2rem;
}

.custom-bt {
    margin-top: -3rem;
    background-color: #202529;
    border-color: #4e575e;
}

.custom-bt:hover {
    background-color: #323539;
    border-color: #323539;
}

.ud {
    text-decoration: none;
    color: white;
}

.marg {
    margin-bottom: 1.5rem;
}

.cartimg {
    border-radius: 50%;
    width: 48px;
    margin: -3px 4px 0 0;
}

.ltext {
    color: white;
    text-decoration: none;
}

.cartItem {
    color: rgb(194, 194, 194);
    text-decoration: none;
}

.cartItem:hover {
    color: rgb(194, 194, 194);
    text-decoration: none;
}

.linkhover:hover {
    text-decoration: underline white;
}

.nav-underline .nav-link.active {
    font-weight: 700;
    color: #efebeb;
    border-bottom-color: currentcolor;
}

.datein {
    width: 6rem;
    border: none;
    background-color: #202529;
    color: white;
}

.icon-button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.datepicker {
    background-color: #202529;
    color: #ffffff;
}

.datepicker th,
.datepicker td {
    color: #292626;
    /* Set the text color to light */
}

.datepicker .datepicker-switch,
.datepicker .datepicker-title,
.datepicker thead th {
    color: #ffffff !important;
    /* Set the text color to light */
}

.datepicker thead th:hover {
    background-color: #212529;
    /* Set the hover background color */
}

.datepicker .prev:hover,
.datepicker .next:hover {
    background-color: #212529;
    /* Set the hover background color for the prev/next buttons */
}

.datepicker tfoot th {
    color: #ffffff;
    /* Set the text color to light */
}

.datepicker tfoot th.today:hover,
.datepicker tfoot th.clear:hover {
    background-color: #212529;
    /* Set the hover background color for today/clear buttons */
}

.datepicker-days .table-condensed>thead>tr>th,
.datepicker-days .table-condensed>tbody>tr>th,
.datepicker-days .table-condensed>thead>tr>td,
.datepicker-days .table-condensed>tbody>tr>td,
.datepicker-months .table-condensed>thead>tr>th,
.datepicker-months .table-condensed>thead>tr>td,
.datepicker-months .table-condensed>tbody>tr>th,
.datepicker-months .table-condensed>tbody>tr>td,
.datepicker-years .table-condensed>thead>tr>th,
.datepicker-years .table-condensed>thead>tr>td,
.datepicker-years .table-condensed>tbody>tr>th,
.datepicker-years .table-condensed>tbody>tr>td {
    color: #ffffff;
    /* Set the text color to light */
}


/* popover */
.pop_crt {
    color: white;
    text-decoration: none;
}

.pop_stext {
    color: rgb(169, 169, 170);
}

.pop_mail {
    text-decoration: underline;
    max-width: 200px;
}

.popbt_collection {
    background-color: #15191b;
}

.pop_btn {
    height: 35px;
}

.pop_bt {
    background-color: #202529;
    border-color: #4e575e;
    height: 35px;
}

.pop_bt:hover {
    background-color: #323539;
    border-color: #323539;
}




@media screen and (max-width: 1800px) {}

@media screen and (max-width: 900px) {
    .marg {
        margin-bottom: 1rem;
    }

    .cred {
        width: 18rem;
    }

    .cm {
        margin: 0 0.5rem 0 3.5rem;
    }

    .drop {
        margin: 0 0 0 4.5rem;
    }
}