body{
    background-color: #15191b;
    color: white;
}

.card{
    border-color: #4e575e;
    background-color: #202529;
    color: white;
}
.cred{
    border: 1px solid #4e575e;
    border-radius: 50px ;
    background-color: #202529;
    color: white;
    width: 35rem;

}

.ud{
    text-decoration: none;
    color: white;
}

.marg{
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1800px){
    .cm{
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 900px){
    .marg{
        margin-bottom: 1rem;
    }
}
