<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

  <!-- Include the component.js file -->
  <script src="{{ url_for('static', filename='component/component.js') }}"></script>



  <!-- Call the createnavbar function -->
  <app-navbar></app-navbar>
  <sidebar-navbar></sidebar-navbar>
  <!--cart start-->
  <div class="container">
    <div class="mb-3">
      <p class="d-flex justify-content-center mt-5">{{ formatted_date}}</p>
      <h2 class="d-flex  justify-content-center"id="name">Good {{time_category}}, abhi</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card cred">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-3 border-end">
                <p>My week</p>
              </div>
              <div class="col-5">
                <i class="fa fa-check d-inline"></i>
                <p class="d-inline">0</p>
                <p class="d-inline">tasks completed</p>
              </div>
              <div class="col-4">
                <i class="fa fa-user-group d-inline"></i>
                <p class="d-inline">0</p>
                <p class="d-inline">collaborators</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 cm">
      <div class="col-md-6 ">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title mb-4">Projests</h4>
            <div class="row">
              <div class="col-md-6 marg">
                <a href="#" class="ud">
                  <i class="fa fa-square-plus fa-2xl d-inline"></i>
                  <p class="card-text ms-2 d-inline">Create project</p>
                </a>
              </div>
              <div class="col-md-6 marg">
                <a href="#" class="ud">
                  <i class="fa fa-chart-bar fa-2xl d-inline"></i>
                  <p class="card-text ms-2 d-inline">Project name</p>
                </a>
              </div>
              <div class="col-md-6 marg">
                <a href="#" class="ud">
                  <i class="fa fa-chart-bar fa-2xl d-inline"></i>
                  <p class="card-text ms-2 d-inline">Project name</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title mb-4">Projests</h4>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"

    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    var userData = JSON.parse(localStorage.getItem("loguser"));
    if (!userData) {
      window.location.href = "/login"
    }
    else{
      jQuery("#name").html();
      jQuery("#name").html(`<h2 class="d-flex  justify-content-center"id="name">Good {{time_category}}, ${userData[1]}</h2>`)
    }
  </script>

    
</body>

</html>