<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark bg-primary" data-bs-theme="dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-text">&nbsp;</span>
    <div class="navbar-collapse collapse" id="navbar8">
      <ul class="navbar-nav abs-center-x">
        <li class="nav-item">
          <form class="d-flex" role="search">
            <input class="form-control searred" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success searredb" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav abs-end-x">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="proimg" src="https://m.media-amazon.com/images/I/01Kv-W2ysOL._SY600_.png" alt="">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Name</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">My workspace</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <div class="area"></div>
    <nav class="main-menu sid_mrg">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Home
            </span>
          </a>

        </li>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-pen-to-square fa-2x"></i>
            <span class="nav-text">
              My task
            </span>
          </a>
        </li>
        <hr>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-object-ungroup fa-2x"></i>
            <span class="nav-text">
              Reporting
            </span>
          </a>

        </li>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-folder fa-2x"></i>
            <span class="nav-text">
              Portfolios
            </span>
          </a>
        </li>
        <hr>
        <li>
          <a href="#">
            <i class="fa fa-user-group fa-2x"></i>
            <span class="nav-text">
              My workspace
            </span>
          </a>
        </li>

      </ul>

      <ul class="logout">
        <li>
          <a href="#">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>